@model IEnumerable<OrderViewModel>;
@{
    ViewData["Title"] = "Products";
}

<div class="px-10">
    <div class="-m-1.5 overflow-x-auto mt-5">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                @Html.DisplayNameFor(o => o.User.Username)</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in Model)
                        {
                            <tr class="odd:bg-white even:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    @o.User.Username
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    <div>
                                        <a asp-action="index" asp-controller="OrderDetails" asp-route-id="@o.OrderDetail.Id"
                                            class="mx-1">
                                            جزعیات
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>