@model IEnumerable<UserViewModel>;
@{
    ViewData["Title"] = "Products";
}

<div class="px-10">
    <div class="-m-1.5 overflow-x-auto mt-5">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                @Html.DisplayNameFor(m => m.Username)</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model)
                        {
                            <tr class="odd:bg-white even:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    @u.Username
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    <div>
                                        @if (u.Roles.Any(r => r.Name == "Admin"))
                                        {
                                            <a class="bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md text-white"
                                                asp-action="removeAdmin" asp-route-id="@u.Id" class="mx-1">-ادمین</a>
                                        }
                                        else
                                        {
                                            <a class="bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md text-white"
                                                asp-action="AddAdmin" asp-route-id="@u.Id" class="mx-1">+ادمین</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>