@model ProductViewModel;


<div class="block rounded-lg bg-white">
    <div href="#!">
        @{
            ImageViewModel image = new() { Name = Model.ImageName, HtmlClass = "" };
        }
        <partial name="_ImagePartial" model="image" />
    </div>
    <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
            @Model.Name
        </h5>
    </div>
</div>
